<div class="container">
  <!-- 通知エリア -->
  <p id="notice"><%= flash[:notice] %></p>
  
  <h3>新規会員登録</h3>
  
  <!-- フォーム開始 -->
  <%= form_with(model: @user, url: user_registration_path, local: true) do |f| %>
  <div class="row">
    <div class="col-2">名前</div>
    <div class="col-1"><%= f.label :last_name, "（姓）" %></div>
    <div class="col-3"><%= f.text_field :last_name, autofocus: true %></div>
    <div class="col-1"><%= f.label :first_name, "（名）" %></div>
    <div class="col-3"><%= f.text_field :first_name %></div>
  </div>

  <div class="row">
    <div class="col-2">フリガナ</div>
    <div class="col-1"><%= f.label :last_name_kana, "（セイ）" %></div>
    <div class="col-3"><%= f.text_field :last_name_kana, pattern: "[ァ-ヶー－]+" %></div>
    <div class="col-1"><%= f.label :first_name_kana, "（メイ）" %></div>
    <div class="col-3"><%= f.text_field :first_name_kana, pattern: "[ァ-ヶー－]+" %></div>
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :email, "メールアドレス" %></div>
    <div class="col-3"><%= f.email_field :email, autocomplete: "email" %></div>  
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :phone_number, "電話番号(ハイフンなし)" %></div>
    <div class="col-3"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></div>
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :company_name, "企業名" %></div>
    <div class="col-3"><%= f.text_field :company_name %></div>
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :industry, "業種" %></div>
    <div class="col-3"><%= f.text_field :industry %></div>
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :password, "パスワード(6文字以上)" %></div>
    <div class="col-3"><%= f.password_field :password %></div>
  </div>

  <div class="row">
    <div class="col-3"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
    <div class="col-3"><%= f.password_field :password_confirmation %></div>
  </div>

  <div class="actions text-center">
    <div class="row">
      <div class="col-7"><%= f.submit "新規登録", class: "btn btn-lg btn-success" %></div>
    </div>
  </div>
<% end %>