<div class="container mt-5">
  <h1 class="text-center mb-4">検索結果</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
    <% if @records.present? %>
      <ul class="list-group">
        <% @records.each do |record| %>
          <li class="list-group-item">
            <% if @model == 'user' %>
              <h5><%= link_to record.full_name, user_path(record) %></h5>
              <p><%= record.email %></p>
            <% else %>
              <h5><%= link_to record.title, post_path(record) %></h5>
              <p><strong>業種:</strong> <%= record.industry %></p>
              <p><strong>期間:</strong> <%= record.duration %></p>
              <p><strong>場所:</strong> <%= record.location %></p>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>検索結果が見つかりませんでした。</p>
    <% end %>
  </div>
</div>