<div class="container">
  <h1 class="mb-4 text-center">ユーザー一覧</h1>

  <div class="table-responsive">
    <table class="table table-bordered table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th>名前</th>
          <th>会社名</th>
          <th>業種</th>
          <th>フォロー数</th>
          <th>フォロワー数</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.full_name, user_path(user), class: "text-primary" %></td>
            <td><%= user.company_name %></td>
            <td><%= user.industry %></td>
            <td>
              <%= link_to "フォロー数: #{user.followings.count}", followings_user_path(user), class: 'btn btn-primary' %>
            </td>
            <td>
              <%= link_to "フォロワー数: #{user.followers.count}", followers_user_path(user), class: 'btn btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>