<div class="container mt-5">
  <div class="row">
    <!-- ユーザーのプロフィール情報 -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">ユーザーのプロフィール</h3>
          <p><strong>名前:</strong> <%= @user.full_name %></p>
          <p><strong>会社名:</strong> <%= @user.company_name %></p>
          <%= render 'relationships/btn', user: @user %>
        </div>
      </div>
    </div>

    <!-- 投稿の一覧 -->
    <div class="col-md-8">
      <h1 class="text-center">投稿一覧</h1>
      <table class="table">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>募集人数</th>
            <th>期間</th>
            <th>場所</th>
          </tr>
        </thead>
        <tbody>
          <% @user.posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post_path(post) %></td>
              <td><%= post.recruit_status %></td>
              <td><%= post.duration %></td>
              <td><%= post.location %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>