<div class="container">
  <div class="row justify-content-center">
    <h4 class="my-5 p-3 bg-light text-center">職種一覧</h4>
  </div>
  <div class="row justify-content-center mb-5">
    <div class="col-md-8">
      <%= form_with model: @genre, url: admin_genres_path, local: true, class: "form-inline justify-content-center" do |f| %>
        <div class="form-group mx-sm-3 mb-2">
          <%= f.label :name, "ジャンル名", class: "sr-only" %>
          <%= f.text_field :name, placeholder: 'ジャンル名', class: "form-control" %>
        </div>
        <%= f.submit "新規登録", class: "btn btn-success mb-2" %>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <table class="table table-bordered genre-table">
        <thead class="thead-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render 'genre_index', genres: @genres %>
        </tbody>
      </table>
    </div>
  </div>
</div>