<div class="container mt-5">
  <div class="row justify-content-center">
    <%= render 'layouts/user_sidebar' %>
    <div class="col-md-9">
      <h4 class="mt-3"><strong>新着投稿</strong></h4>
      <div class="row">
        <% if @posts.any? %>
          <% @posts.each do |post| %>
            <div class="col-md-6 mb-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= link_to post.title, post_path(post) %>
                  </h5>
                  <p class="card-text">
                    <strong>募集業種:</strong> <%= post.industry %><br>
                    <strong>期間:</strong> <%= post.duration %><br>
                    <strong>場所:</strong> <%= post.location %>
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <small>投稿日: <%= post.created_at.strftime("%Y-%m-%d %H:%M") %></small>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="col mt-3">
            <p>投稿がありません。</p>
          </div>
        <% end %>
      </div>

      <div class="mb-3 text-right">
        <%= link_to "全ての投稿を見る＞", posts_path %>
      </div>
    </div>
  </div>
</div>