<h1 class="text-center">新しい投稿</h1>

<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h4>エラーが発生しました:</h4>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :genre_ids, "必要業種" %>
    <div class="form-check">
      <%= form.collection_check_boxes :genre_ids, @genres, :id, :name do |b| %>
        <div class="form-check">
          <%= b.check_box(class: "form-check-input") %>
          <%= b.label(class: "form-check-label") do %>
            <%= b.object.name %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :duration, "期間" %>
    <%= form.text_field :duration, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :location, "場所" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :contact_info, "連絡先" %>
    <%= form.email_field :contact_info, class: "form-control", placeholder: "name@example.com" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :requirements, "応募条件" %>
    <%= form.text_area :requirements, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :payment_schedule, "支払いスケジュール" %>
    <%= form.text_area :payment_schedule, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :number_of_recruits, "募集人数" %>
    <%= form.number_field :number_of_recruits, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :application_deadline, "応募締切" %>
    <%= form.date_field :application_deadline, class: "form-control" %>
  </div>

  <div class="col-md-5 col-sm-10 mx-auto rounded px-0 my-5">
    <%= form.label :content, "概要" %>
    <%= form.text_area :content, class: "form-control", style: "height: 200px;" %>
  </div>

  <div class="text-center my-5">
    <%= form.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>