<div class="container mt-5">
  <h1 class="text-center mb-4">ユーザー一覧</h1>
  <div class="row">
    <div class="col-md-12">
      <% if @users.any? %>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th>名前</th>
              <th>メールアドレス</th>
              <th>会社名</th>
              <th>業種</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to user.full_name, admin_user_path(user), class: 'text-primary' %></td>
                <td><%= user.email %></td>
                <td><%= user.company_name %></td>
                <td><%= user.industry %></td>
                <td>
                  <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-center">ユーザーはありません。</p>
      <% end %>
    </div>
  </div>
</div>